* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-wrapper {
    background-image: url(../img/2.jpg);
    background-blend-mode: color-dodge;
    padding: 180px 0 100px 0;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
}

.main-wrapper h1 {
    opacity: 0.8;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.main-wrapper p {
    opacity: 0.8;
    margin-bottom: 3px;
    letter-spacing: 2px;
    font-stretch: semi-condensed;
}

.main-wrapper span {
    opacity: 2;
    font-family: "lucida-grande";
    color: rgb(9, 31, 56);
    font-size: 50px;
}

li,a, button {
    font-family: "Lucida Grande";
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
header {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
    height: 65px;
    width: 100%;
    background-color: rgba(15, 188, 249,1.0);
  }
  .logo { 
    color: white;
    margin-right: auto;
    cursor:pointer;
  }
  .nav-link{
    list-style:none;
  }
  .nav-link li{
    display:inline-block;
    padding: 0px 10px;
  }
  .nav-link li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
  }
  .nav-link li a :hover{
    color: white;
    background-color: #4bcffa;
  }
  a.active,a:hover{ 
    background-color: #4bcffa; 
    transition: .5s;
  }
  .regist button{
    padding: 9px 25px;
    background-color: #4bcffa;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .regist button:hover{
    background-color: rgba(11, 232, 129,1.0);
    
  }
  body{
    background-color: white;
  }



a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}



.body-wrapper {
    background-color: #f5f5f5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.body-judul h2 {
    font-size: 30px;
    font-weight: bold;
    color: #808e9b;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem;
}

.card-product {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    float: left;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 33.3333%;
    max-width: 100%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.img-product {
    width: 40%;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.card-product p {
    font-size: 14px;
    font-weight: bold;
    color: #808e9b;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem ;
    border-bottom: #808e9b 1px solid;
    margin-left: 30px;
    margin-right: 30px;
    
}

.card-product h3 {

    color: #0fbcf9;
    font-size: 20px;
    font-weight: bolder;
    padding: 1rem;

}
.card-product h4 {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 0px 5px 0px;
}

.card-product span {
    font-size: 15px;
    font-family: Verdana;
    color: #808e9b;
    padding: 0px 0px 5px 0px;
}

.card-product h5 {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    padding:5px 0px 15px 0px;
}


.detail-p p {
    border-bottom: #808e9b 5px solid;
    font-weight: small;
    
}

.button {
    background-color: #0fbcf9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}

.body-footer {
    margin: 0 auto;
    background-color: #0fbcf9;
    color: #fff;
    border-bottom: #0fbcf9;
    border-radius: 5px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.history-wrapper {            
   margin-top: 2rem;         
  padding-bottom: 80px;           
  
          
  }  

  .histories h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #808e9b;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 1rem;
  }
  
  .card-history {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    float: left;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 33.3333%;
    max-width: 100%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    height: max-content;
}

.card-history img {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.card-history p {
  font-size: 20px;
  font-weight: bold;
  color: #808e9b;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: #808e9b 1px solid;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.card-history h4 {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 0px 5px 0px;
}

p.history-p {
  font-size: 14px;
}

.card-history a {
  font-size: 14px;
  color: #0fbcf9 ;
}
  
  .heading {            
  padding-top: 60px;            
  padding-bottom: 30px;            
  color: #f9fcfb; 
  font-size: 30px;           
  }     
  
  .heading h2 {
    font-weight:bold;
    text-align: center;
  }
  
  .history2 {
  float: left;
  width: 25%;
  padding: 15px;
  
  }

  
  
  .Sejarah-icon {
    position: relative;
    
  
  }
  
  .Sejarah-icon p {
    position:absolute;
    top:auto;
    
    width: 100%;
    color: rgb(20, 17, 17);
    font-size: 20px;


  }
  
  .txt-content {
  width: 90%;            
  display: inline-block;            
  padding-top: 60px; 
  padding-bottom: 30px;           
  font-size: 15px;            
  color: #b3aeb5; 
  }
  
  
 
  